@{
    ViewData["Title"] = "Home Page";
}

<div class="info-block">
    <h2>Выполняем следующие работы</h2>
    <h4>
        Мы отправим курьера, который бесплатно отвезет ноутбук, где будет проведена соответствующая диагностика
        и установлена причинанеприятностей.
    </h4>

    <div class="row description-block">
        <div class="col-4 row">
            <div class="col-2">
                <div class="img-wrapper">
                    <img src="~/image/icon1.png" />
                </div>
            </div>
            <div class="col-10">
                <div class="title">Диагностика компьютера</div>
                <div class="text">Качественная диагностика и недорогой ремонт компьютеров всех марок.</div>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2">
                <div class="img-wrapper">
                    <img src="~/image/icon2.png" />
                </div>
            </div>
            <div class="col-10">
                <div class="title">Ремонт планшетов и телефонов</div>
                <div class="text">Это удобное устройство прочно вошло в нашу жизнь, и занимает в ней важное место.</div>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2">
                <div class="img-wrapper">
                    <img src="~/image/icon3.png" />
                </div>
            </div>
            <div class="col-10">
                <div class="title">Модернизация ноутбука</div>
                <div class="text">Люди стремятся сделать апгрейд ноутбука, чтобы стать обладателями мощной машины.</div>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2">
                <div class="img-wrapper">
                    <img src="~/image/icon4.png" />
                </div>
            </div>
            <div class="col-10">
                <div class="title">Замена жесткого диска</div>
                <div class="text">Уникальное устройство, которое предназначено для записи и хранения данных.</div>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2">
                <div class="img-wrapper">
                    <img src="~/image/icon5.png" />
                </div>
            </div>
            <div class="col-10">
                <div class="title">Чистка системы охлаждения</div>
                <div class="text">Система охлаждения у ноутбуков работает совсем не так, как у обычных компьютеров.</div>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2">
                <div class="img-wrapper">
                    <img src="~/image/icon6.png" />
                </div>
            </div>
            <div class="col-10">
                <div class="title">Перепрошивка BIOS</div>
                <div class="text">С извлечением микрочипа для дальнейшего перепрограммирования на программаторе.</div>
            </div>
        </div>
    </div>
</div>
